name: Xcode - Build and Analyze

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    name: Build and analyse default scheme using xcodebuild command
    runs-on: macos-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Build
        env:
          scheme: ${{ 'default' }}
        run: |
          xcodebuild clean build analyze | xcpretty && exit ${PIPESTATUS[0]}
      - name: Create ZIP
        run: |
          cd build/Release/
          zip -r LosslessMusic.zip LosslessMusic.app          
      - name: Create Release and Upload Artifact
        if: startsWith(github.ref, 'refs/tags/')
        uses: softprops/action-gh-release@v1
        with:
          files: LosslessMusic.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}      
